.pagination {
    width: 100%;
}

.session-details table thead td,
.session-list table thead td {
    background: skyblue no-repeat;
    font-size: 14px;
    font-weight: 600;
}

.session-details table {
    width: 50%;
}

.settings {
    float: left;
    padding-right: 30px;
}

#map {
    height: 450px;
    width: 100%;
}

@media only screen and (max-device-width: 300px) {
    /* STYLES HERE for DEVICES with physical max-screen width of 480px */
    #map {
        height:220px;
    }
}