
    <div class="panel panel-default">
        <div class="panel-body">
            <span>Sort settings </span>
            <select name="sortOrderSelect" id="sortOrder"
                    ng-model="selectedSortOrderOption"
                    ng-options="order as order.label for order in sortOptionsOrderList"></select>

            <span> by </span>

            <select name="sortFieldSelect" id="sortField"
                    ng-model="selectedSortOption"
                    ng-options="sort as sort.label for sort in sortOptionsList"></select>
        </div>
    </div>
