
    <div class="panel panel-default">
        <div class="panel-body">
            <span>Sort settings </span>
            <select name="sortSelect" id="sort">
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select>
            <span> by </span>
            <select name="sortSelect" id="sort">
                <option value="id">id</option>
                <option value="start_time">start_time</option>
                <option value="end_time">end_time</option>
                <option value="duration">duration</option>
                <option value="distance">distance</option>
                <option value="encoded_trace">encoded_trace</option>
                <option value="sport_type_id">sport_type_id</option>
            </select>
        </div>
    </div>
